body {
	background: rgb(240,240,240);
	color:rgb(50,50,50);
	font-family: Helvetica;
	font-size: 18px;
}

h1 {
	font-family: Helvetica;
	font-weight: 800;
	letter-spacing: 5px;
	font-size: 32px;
}

h2 {
	color: #1C2541;
}

a {
	text-decoration: none;
	color: deepskyblue;
	font-weight: 800;
}


div {
	background: white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0;
	margin: auto auto;
}



.img-shadow {
	box-shadow: 2px 2px 10px;
}
/*#container {
	width: 800px;
	background: rgba(0, 0, 0, 0.0);
}*/

.container {
	width: 700px;
	margin: 40px auto;
	box-shadow: 2px 2px 10px;
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #97D2FB;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	transition: 0.3s;
}
.btn-blue:hover {
	background-color: #1C2541;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: black;
}

@media (max-width: 960px) {
.container {
	width: 7000px;
	}
}

@media (max-width: 720px) {
.container {
	width: 500px;
	}
}

@media (max-width: 540px) {
.container {
	width: 300px;
	}
}

#introduction p {
	margin-bottom: 40px;
}






